.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/* HUD (Head's Up Display) */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

.time_left {
    font-size: 2rem;
}

.time_sec {
    text-align: center;
}

#timer {
    font-size: 5rem;
    margin-top: 0.2rem;
}

#progressBar {
    width: 19.5rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.1rem;
}

#progressBarFull {
    height: 98%;
    margin-top: 0.2%;
    background-color: #56a5eb;
    width: 0%;
}

/* LOADER */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #question {
        font-size: 8vw;
    }
    .hud-prefix {
        font-size: 4.5vw;
    }
    #progressBar {
        width: 35vw;
        height: 5vh;
    }
    #progressBarFull {
        height: 95%;
        margin-top: 0.4%;
    }
    .hud-main-text {
        font-size: 8vw;
        margin-top: 0.7rem;
    }
    #timer {
        font-size: 8vw;
        margin-top: 0.7rem;
    }
    .choice-container {
        display: flex;
        align-items: center;
    }
    .choice-text {
        font-size: 80%;
    }
}
